.project {
  background-color: #efe;
  margin-left: 5%;
  padding: 20px;
  line-height: 2em;
}
.project-list {
  width: 90%;
}
.project-item {
  width: 100%;
  margin: 20px 0;
  border: 1px solid #999;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
}
.project-item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 8px 4px rgba(170, 187, 221, 1);
  -moz-box-shadow: 0px 1px 8px 4px rgba(170, 187, 221, 1);
  box-shadow: 0px 1px 8px 4px rgba(170, 187, 221, 1);
}
.project-item > * {
  flex-basis: 50%;
}
.project-item-description {
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;

  font-size: 20px;
  line-height: 24px;
  flex-basis: 90%;
  max-height: 48px;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-top: 20px;
  margin-right: 10px;
  padding-right: 1em;
  margin-bottom: 10px;
}
/* create the ... */
.project-item-description:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.project-item-description:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: #eee;
}
.project-item-description a {
  display: inline-block;
  font-size: 16px;
  color: #444;
  opacity: 0.8;
}
.form-group img {
  width: 200px;
}
.project-item-skills {
  display: flex;
  flex-basis: 100%;
  margin-left: -10px;
  margin-top: 20px;
}
.project-item-skills-element {
  border-radius: 20px;
  border: 1px solid #2285ff;
  padding: 3px 8px;
  margin: 1px 5px;
}
ul.project-skills {
  list-style-type: disc;
  list-style-position: inside;
}
.project-description {
  line-height: 1.5em;
  margin-bottom: 5%;
}
